
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model EntityLayer.Concrete.Category

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            @using (Html.BeginForm("Add", "Category", FormMethod.Post))
                            {
                                <div class="form-outline mb-4">
                                    <label class="mb-2"> Category Name </label>
                                    @Html.TextBoxFor(x => x.CategoryName, new { @class="form-control"})
                                    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class=""})
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="mb-2"> Category Description </label>
                                    @Html.TextBoxFor(x => x.CatergoryDescription, new { @class="form-control"})
                                    @Html.ValidationMessageFor(x => x.CatergoryDescription, "", new { @class=""})
                                </div>
                                
                                <button type="submit" class="btn btn-primary" id="register-button">Add</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>