@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Comments</h4>
    @if (Model.Count() == 0)
    {
        <div class="media">Write First Comment!</div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="media" style="padding: 20px; display: flex; align-items: center;">
                @if (item.Writer != null && item.Writer.WriterImage != null)
                {
                    <div style="width: 80px; height: 80px; display: flex; justify-content: center; align-items: center;">
                        <img src="@item.Writer.WriterImage" alt="" class="img-fluid" style="max-width: 100%; max-height: 100%;border-radius:50%;" />
                    </div>
                }
                else
                {
                    <div style="width: 90px; height: 90px; display: flex; justify-content: center; align-items: center;">
                        <img src="@($"/writer/assets/images/faces-clipart/pic-{new Random().Next(1, 4)}.png")" alt="no user" class="img-fluid" style="max-width: 100%; max-height: 100%;border-radius:50%;" />
                    </div>
                }
                <div class="media-body">
                    <h5 class="mt-0">@item.CommentUserName</h5>
                    <p>@item.CommentContent</p>
                </div>
            </div>
        }
    }
</div>
