@{
    ViewData["Title"] = "composeMail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model EntityLayer.Concrete.Message2


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Compose Mail</a>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning float-right">16</span> </a></li>
                            <li><a href="#"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                            <li><a href="#"> <i class="fa fa-certificate"></i> Important</a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger float-right">2</span></a></li>
                            <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href="#"><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="float-right tooltip-demo">
                    <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                    <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                </div>
                <h2>
                    Compose mail
                </h2>
            </div>
            <div class="mail-box">

                <form method="post" href="/admin/message/composeMail">
                    <div class="mail-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">To:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="toWho" value=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Subject:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Subject" value=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Detail:</label>
                            <textarea class="col-sm-10" name="MessageDetails" cols="10" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <button href="#" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Send</button>
                        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<style>
    textarea {
        resize: none !important;
        border: 0.1px solid #dedede;
        padding: 15px !important;
    }

        textarea:focus {
            border: 0.1px solid green;
        }
</style>
