
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using WebUI.Areas.Admin.Models
@model List<RoleAssignViewModel>


<h1>AssignRole</h1>

@foreach (var item in Model)
{
    <div class="form-control">
        <input />
    </div>
}

