@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">
    <h4>Last 3 Blogs of Writer</h4>
    @foreach (var item in Model.Take(3))
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/blog/details/@item.Id">
                    <img src="@item.BlogImage" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/blog/details/@item.Id">@item.BlogTitle</a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i>@(@item.CreatedDate == default(DateTime) ? "--/--/--" : @item.CreatedDate)
                    </span>
                </div>
            </div>

        </div>
    }
    
   
</div>
