
@{
    ViewData["Title"] = "sendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>sendbox</h1>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@model List<EntityLayer.Concrete.Message2>

<div class="container">
    <div class="row h1">Inbox</div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Subject </th>
                    <th> Reciever </th>
                    <th> Date </th>
                    <th> Details </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Id </td>
                        <td> @item.Subject </td>
                        <td> @item.ReceiverUser.WriterName </td>
                        <td> @item.Date </td>
                        <td> <a class="btn btn-outline-primary" href="/Message/Details/@item.Id">Open Message</a> </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<a class="btn btn-primary" href="/message/sendMessage">Send Message</a>*@
    </div>
</div>
