
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
<h2>Current Date and Time:</h2>
<p>@ViewData["CurrentDateTime"]</p>

<h2>Live Clock:</h2>
<div id="clock"></div>

<script>
    function updateClock() {
        var now = new Date();
        var time = now.toLocaleTimeString();
        document.getElementById("clock").innerHTML = time;
    }
    var message = "@ViewData["CurrentDateTime"]";
    console.log(message);
    console.log("merhaba dunya");
    setInterval(updateClock, 1000);
</script>
