
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<WebUI.Controllers.Class1>
<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <td>$</td>
        <td>name</td>
        <td></td>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-danger btn-sm" href=@($"/test/delete/{item.Id}")>Delete</a>
                    <a class="btn btn-primary btn-sm "  href=@($"/test/add/{item.Id}")>Update</a>
                </td>
            </tr>
        }
    </tbody>
    <a class="btn btn-primary" href="/test/add">Add</a>
</table>

