@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="container">
    <div class="h2">Notifications</div>
    <table class="table table-bordered">
        <tr>
            <th> # </th>
            <th> Notification </th>
            <th> Date </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id </td>
                <td>@item.Details </td>
                <td>@item.Date </td>
            </tr>
        }
    </table>
</div>

