@using DataAccessLayer.Abstract;
@using EntityLayer.Concrete;

@inject IUserDal tokenService;
@{
    Writer LoginUser = tokenService.GetLoggedUser();
    if (LoginUser == null)
    {
        LoginUser = new Writer();
    }
}

<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">

            @if (LoginUser.Id != 0)
            {
                <input class="form-control mb-3" readonly name="CommentUserName" value="@LoginUser.WriterName" required>
                <input readonly name="WriterId" hidden value="@LoginUser.Id">
            }
            else
            {
                <input class="form-control  mb-3" name="CommentUserName" placeholder="Name" required>
            }

            <input hidden name="BlogId" value="@Model.Id">
            <input class="form-control mb-3" name="CommentTitle" placeholder="Title" required>
            <textarea class="form-control mb-3" rows="6" name="CommentContent" placeholder="Your message..." required></textarea>
            <button type="submit" class="btn btn-primary submit">Submit Comment</button>
        </form>
    </div>
</div>
