
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@model EntityLayer.Concrete.Writer

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Profile</h4>
            <form class="forms-sample" asp-action="editprofile">
                <input hidden asp-for="Id"/>
                <div class="form-group">
                    <label for="WriterName">Full Name</label>
                    <input type="text" class="form-control" asp-for="WriterName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="WriterMail">Email address</label>
                    <input type="email" class="form-control" asp-for="WriterMail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="WriterPassword">Password</label>
                    <input type="password" class="form-control" asp-for="WriterPassword" placeholder="Password">
                </div>
                @*<div class="form-group">
                    <label for="exampleSelectGender">Gender</label>
                    <select class="form-control" id="exampleSelectGender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>*@
                @*<div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>*@
                <div class="form-group">
                    <label for="WriterImage">Writer Image</label>
                    <input type="text" class="form-control" asp-for="WriterImage" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="WriterAbout">About</label>
                    <textarea class="form-control" asp-for="WriterAbout" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
