@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Userlayout.cshtml";
}

@model UserSignInViewModel

<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Sign In Now</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="Index" method="post">
                    <div class="form-group">
                        <label for="UserName">User Name</label>
                        <input class="form-control" asp-for="@Model.UserName" aria-describedby="emailHelp" placeholder="" required="required" value="karun">
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="" required="required" value="}p&.LFi8})mhyh%">
                    </div>
                    
                    <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                    <p><a href="/Register/Index"> Don't have an account?</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
<!--//main-->