@using DataAccessLayer.Abstract;
@using EntityLayer.Concrete;

@{
    Layout = null;
}

@inject IUserDal tokenService;
@{
    Writer LoginUser = tokenService.GetLoggedUser();
    if (LoginUser == null)
    {
        LoginUser = new Writer();
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin Portal </title>
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/w-on-black.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">

        @await Html.PartialAsync("AdminNavbarPartial")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <div class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control"
                                    name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">CoreBLog Admin</span>
                        </li>
                        <li>
                            <a href="/login/logout">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="float-right">
                    Date: @DateTime.Now.ToString("dd/MM/yyyy")
                </div>
                <div>
                    <a href="https://github.com/karunland/CoreBlog">Project Code</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.js"></script>
    <script src="~/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/admin/js/inspinia.js"></script>
    <script src="~/admin/js/plugins/pace/pace.min.js"></script>
    <script src="~/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/admin/js/demo/peity-demo.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
