<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">

    <div class="right-blog-info text-left">

        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

        @await Component.InvokeAsync("CategoryList")

        @await Component.InvokeAsync("WriterLastBlogs", new { id = Model.Id })

        @*
        <div class="single-gd tech-btm">
            <h4>Recent Post</h4>
            <div class="blog-grids">
                <div class="blog-grid-left">
                    <a href="single.html">
                        <img src="~/CoreBlogTema/images/b1.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="blog-grid-right">

                    <h5>
                        <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                    </h5>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        *@
    </div>

</aside>
