@using DataAccessLayer.Abstract;
@using EntityLayer.Concrete;


@inject IUserDal tokenService;

@{
    Writer LoginUser = tokenService.GetLoggedUser();
    if (LoginUser == null)
    {
        LoginUser = new Writer() { Id = 0};
    }
}
<!--Header-->
<header>
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">
            <div class="col-md-4 logo text-left">
                <a class="navbar-brand" href="index.html">
                    <i class="fab fa-linode"></i> Core Blog
                </a>
            </div>

            <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                @if (LoginUser.Id != 0)
                {
                    <div>Welcome</div>
                }
                else
                {
                    <span class="mx-lg-4 mx-md-2  mx-1">
                        <a href="@Url.Action("Index", "Login")">
                            <i class="fas fa-lock"></i> Sign In
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("Index", "Register")">
                            <i class="far fa-user"></i> Register
                        </a>
                    </span>
                }

            </div>

            <div class="col-md-4 log-icons text-right">

                <ul class="social_list1 mt-3">

                    <li>
                        <a href="#" class="facebook1 mx-2">
                            <i class="fab fa-facebook-f"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter2">
                            <i class="fab fa-twitter"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#" class="dribble3 mx-2">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pin">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_top" id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/index">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/blog/index">
                            Blogs
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/index">Contact</a>
                    </li>
                    @if (LoginUser.Id != 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">Sign Out</a>
                        </li>
                    }
                </ul>
                <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
                    <button class="btn btn1 my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
</header>
<!--//header-->
