@using EntityLayer.Concrete
@model List<Category>

<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.CatergoryDescription</td>
            </tr>
        }
    </tbody>
</table>